<div class="g_fonter">
	<div class="top">
		<div class="global_main clearfix">
			<span class="l">重点链接</span>
			<ul class="c clearfix">
				<li>
					<a href="">统计报表系统</a>
				</li>
				<li>
					<a href="">天津港保税区智慧产业信息平台</a>
				</li>
				<li>
					<a href="">邮件系统</a>
				</li>
				<li>
					<a href="">短信中心</a>
				</li>
				<li>
					<a href="">天津医科大学总医院空港医院</a>
				</li>
				<li>
					<a href="">廉韵津沽</a>
				</li>
				<li>
					<a href="">信用天津</a>
				</li>
			</ul>
			<div class="r">
				<img src="images/f2.png">
				<img src="images/f1.png" style="margin-left: 20px;">
			</div>
		</div>
	</div>
	<div class="bottom">
		<div>
			主办方单位及版权所有：天津港保税区 空港经济区管委会 | 邮箱: tjftz.gov.cn
		</div>
		<div style="padding-top: 5px;">
			备案序号：津ICP备05001971号-1 | 网站标识码：1201160009 | <img src="images/f3.png" style="margin: 0 5px;position: relative;top: 5px;"> 津公网安备 120191020000001号
		</div>
	</div>
</div>
