<div class="g_header clearfix">
	<div class="global_main clearfix">
		<div class="h_l clearfix">
			<a href="index.html" class="clearfix">
				<img src="./images/index/logo.png" >
				<div class="r">
					<b>天津港保税区</b>
					<p>中小企业创新创业服务平台</p>
				</div>
			</a>
		</div>
		<div class="h_c">
			<ul class="clearfix">
				<li>
					<a href="">政策专栏</a>
				</li>
				<li>
					<a href="">企业融通</a>
				</li>
				<li>
					<a href="">产业联盟</a>
				</li>
				<li>
					<a href="">一站服务</a>
				</li>
				<li>
					<a href="">招才引智</a>
				</li>
				<li>
					<a href="">招商引资</a>
				</li>
				<li>
					<a href="">金融服务</a>
				</li>
				<li>
					<a href="">企业信息</a>
				</li>
			</ul>
		</div>
		<div class="h_r clearfix">
			<div class="sc">
				<input type="text" placeholder="入驻载体" name="" id="" value="" />
				<img src="./images/index/search.png" >
			</div>
			<div class="btns">
				<span>注册</span>
				<span>登录</span>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	
</script>
